/*
Syntax error: Invalid CSS after "sans-serif": expected expression (e.g. 1px, bold), was "; /* 1 *\/"
        on line 10 of sass/normalize.sass

5:  * 2. Prevent iOS text size adjust after orientation change, without disabling
6:  *    user zoom.
7:  *\/
8: 
9: html {
10:   font-family: sans-serif; /* 1 *\/
11:   -ms-text-size-adjust: 100%; /* 2 *\/
12:   -webkit-text-size-adjust: 100%; /* 2 *\/
13: }
14: 
15: /**

Backtrace:
sass/normalize.sass:10
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/scss/parser.rb:1149:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/script/lexer.rb:206:in `expected!'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/script/parser.rb:493:in `assert_done'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/script/parser.rb:50:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/script/parser.rb:166:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/script.rb:31:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:882:in `parse_script'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:608:in `parse_property'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:597:in `parse_property_or_rule'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:578:in `parse_line'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:471:in `build_tree'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:490:in `block in append_children'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:489:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:489:in `append_children'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:480:in `block in build_tree'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:473:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:473:in `build_tree'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:490:in `block in append_children'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:489:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:489:in `append_children'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:345:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:235:in `watch'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/plugin.rb:107:in `method_missing'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/exec.rb:463:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.2.19/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"sans-serif\": expected expression (e.g. 1px, bold), was \"; /* 1 */\"\A         on line 10 of sass/normalize.sass\A \A 5:  * 2. Prevent iOS text size adjust after orientation change, without disabling\A 6:  *    user zoom.\A 7:  */\A 8: \A 9: html {\A 10:   font-family: sans-serif; /* 1 */\A 11:   -ms-text-size-adjust: 100%; /* 2 */\A 12:   -webkit-text-size-adjust: 100%; /* 2 */\A 13: }\A 14: \A 15: /**"; }
