@import "normalize"
@import "html5b"
@import "jquery-ui"
@import "graph"
@import "detail"
@import "legend"
@import "foundation/settings"
@import "foundation/foundation"

$varcolor: darken(#1795FF, 10%)

line, rect
  cursor: pointer

#formula
  @include grid-column($columns:6)

#value
  @include grid-column($columns:2)

input[type=submit]
  @include button(rem-calc(11))
  @include grid-column($columns:2)

form label
  @include grid-column($columns:4)


#workspace
  height: 90%
  overflow: hidden

#workspace svg
  position: relative

rect
  fill: $varcolor
  stroke: 1
  stroke-opacity: .4

.watching
  fill: darken($varcolor, 20%)

.selected
  text-decoration: underline
  rect
    stroke: #002B77
    stroke-width: 5

.toolbar
  @include sub-nav()
  color: black


#output
  overflow-x: hidden
  overflow-y: auto
  z-index: 2
  width: 20px
  background-color: white
  border-left: 1px solid #909090
  position: absolute
  right: 0px
  top: 0px
  height: 100%

table, .graph-container
  margin: 20px

th, td
  border: 1px solid #D3D3D3
  padding: 5px
  text-align: center
  width: 50px
  overflow: hidden
  text-overflow: clip

.domain
  display: none

#name, #name:focus
  position: absolute
  border: none
  width: 0
  padding: 0
  display: none
  outline: 0
  background-color: #FFF
  font-family: inherit
  box-shadow: none
  margin: 0
  padding: 0
  transition: none
  color: #222
  font-size: 1rem

@import "print"