doctype htlm
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
    script(data-main='js/main.js', src='js/vendor/require.js')
  body
    #workspace
    #output.output
      dl.output-toolbar.toolbar.output
          dt Charts
          dd
            a.chart(href='#chart') line 
          dd 
            a.chart(href='#chart') bar 
          dd
            a.chart(href='#chart') area 
          dd 
            a.chart(href='#chart') scatterplot 
          dd 
            a.table(href='#table') table
          dd 
            a.graph(href='#graph') dygraph
      #graphs
    .model-controls
      form#editor(method="get" action="/")
        .row
          #run.btn &#9654;
          div.inp1
            input#value(type='text', name="name" placeholder='value', maxlength='200')
            span.error
          div.inp2
            label
            input#formula(type='text', name="formula" placeholder='d/dt', maxlength='200')
            span.error
          #btn-stock.btn Stock
          #btn-flow.btn Flow
          #btn-watch.btn Watch
          //input(type="submit" value="new variable")
        .row
          label Time
            input#times(type='number' name="number", value='100', placeholder='Simulation Length')
          label Method 
            select#method
              option(value="Euler") Euler
              option(value="RK2") RK2
              option(value="RK4", "selected") RK4
              option(value="DOPRI") DOPRI
          label dt 
            input#dt(type="number", value=".25", maxlength="10", min=".01")
          #save.btn(data-reveal-id="saveModal") Save
          #load.btn(data-reveal-id="loadModal") Load
          #saveModal.selectProfile.reveal-modal.medium(data-reveal)
            p.lead Save
            label Pick a profile 
              select(name="profile")
            p Or
            label Create a new profile
              input(name="profile", type="text")
            .btn Save
          #loadModal.selectProfile.reveal-modal.medium(data-reveal)
            p.lead Which profile do you want to load?
            select(name="profile")
            .btn Load
        input#name(type="text", name="name2" maxlength="100")
        .hidden
          table#table-template.stat-table(data-template='data-template')
            thead
              tr
                th Variable
                th First
                th Last
                th Mean
                th STD. Deviation
                th Max
                th Min
                th total
            tbody
              tr(data-template='data-template')
                td {{name}}
                td {{first}}
                td {{last}}
                td {{n}}
                td {{STDDev}}
                td {{max}}
                td {{min}}
                td {{sum}}
